{{- if .Values.device_auth.enabled }}
{{- $merged := merge (deepCopy .Values.device_auth) (deepCopy (default (dict) .Values.default)) -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "mender.fullname" . }}-device-auth
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "mender.labels" . | nindent 4 }}
    app.kubernetes.io/name: {{ include "mender.fullname" . }}-device-auth
    app.kubernetes.io/component: device-auth
spec:
  {{- if not (or .Values.device_auth.hpa .Values.default.hpa) }}
  replicas: {{ .Values.device_auth.replicas }}
  {{- end }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "mender.fullname" . }}-device-auth

  # if deployment is not completed within 10 min, consider it failed,
  # as result deployment Reason=ProgressDeadlineExceeded
  # needs to be big enough to rollout to complete
  progressDeadlineSeconds: 600

  # Rollout upgrade one by one
  # In this case we warranty there are always instances online.
  # In case any issues, they will be detected early and deployment be stopped.
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1

  template:
    metadata:
      {{- with .Values.device_auth.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        app.kubernetes.io/name: {{ include "mender.fullname" . }}-device-auth
        {{- include "mender.labels" . | nindent 8 }}
        app.kubernetes.io/component: device-auth
    spec:
      {{- with $merged.affinity }}
      affinity: {{ tpl (toYaml .) $ | nindent 8 }}
      {{- end }}
      {{- with $merged.tolerations }}
      tolerations: {{ tpl (toYaml .) $ | nindent 8 }}
      {{- end }}
{{- if .Values.device_auth.podSecurityContext.enabled }}
      securityContext: {{- omit .Values.device_auth.podSecurityContext "enabled" | toYaml | nindent 8 }}
{{- end }}

      containers:
      - name: device-auth
{{- if .Values.global.enterprise }}
        image: {{ .Values.device_auth.image.registry | default "registry.mender.io" }}/{{ .Values.device_auth.image.repository | default "mendersoftware/deviceauth-enterprise" }}:{{ .Values.device_auth.image.tag | default .Values.global.image.tag }}
{{- else }}
        image: {{ .Values.device_auth.image.registry | default "docker.io" }}/{{ .Values.device_auth.image.repository | default "mendersoftware/deviceauth" }}:{{ .Values.device_auth.image.tag | default .Values.global.image.tag }}
{{- end }}
        imagePullPolicy: {{ .Values.useradm.image.imagePullPolicy }}
{{- if .Values.device_auth.containerSecurityContext.enabled }}
        securityContext: {{- omit .Values.device_auth.containerSecurityContext "enabled" | toYaml | nindent 10 }}
{{- end }}
        resources:
{{ toYaml .Values.device_auth.resources | indent 10 }}

{{- if .Values.device_auth.automigrate }}
        args: ["server", "--automigrate"]
{{- else }}
        args: ["server"]
{{- end }}

        # Readiness/liveness probes
        readinessProbe:
          httpGet:
            path: /api/internal/v1/devauth/health
            port: 8080
          periodSeconds: 15
        livenessProbe:
          httpGet:
            path: /api/internal/v1/devauth/alive
            port: 8080
          periodSeconds: 5
        startupProbe:
          httpGet:
            path: /api/internal/v1/devauth/alive
            port: 8080
          failureThreshold: 36
          periodSeconds: 5

        volumeMounts:
        - name: rsa
          {{- if .Values.global.enterprise }}
          mountPath: "/etc/deviceauth-enterprise/rsa/"
          {{- else }}
          mountPath: "/etc/deviceauth/rsa/"
          {{- end }}
          readOnly: true

        env:
        - name: DEVICEAUTH_INVENTORY_ADDR
          value: {{ .Values.device_auth.env.DEVICEAUTH_INVENTORY_ADDR | quote }}
        - name: DEVICEAUTH_ORCHESTRATOR_ADDR
          value: {{ .Values.device_auth.env.DEVICEAUTH_ORCHESTRATOR_ADDR | quote }}
        - name: DEVICEAUTH_JWT_ISSUER
          value: {{ .Values.device_auth.env.DEVICEAUTH_JWT_ISSUER | quote }}
        - name: DEVICEAUTH_JWT_EXP_TIMEOUT
          value: {{ .Values.device_auth.env.DEVICEAUTH_JWT_EXP_TIMEOUT | quote }}
        - name: DEVICEAUTH_MIDDLEWARE
          value: {{ .Values.device_auth.env.DEVICEAUTH_MIDDLEWARE | quote }}
{{- if and (.Values.global.enterprise) (.Values.tenantadm.enabled) }}
        - name: DEVICEAUTH_HAVE_ADDONS
          value: "true"
        - name: DEVICEAUTH_TENANTADM_ADDR
          value: {{ .Values.device_auth.env.DEVICEAUTH_TENANTADM_ADDR | quote }}
{{- end }}
{{- if and .Values.global.enterprise .Values.redis.enabled }}
        - name: DEVICEAUTH_REDIS_ADDR
          value: {{ include "redis_address" . }}
        - name: DEVICEAUTH_REDIS_USERNAME
          value: {{ .Values.global.redis.username | default "" | quote }}
        - name: DEVICEAUTH_REDIS_PASSWORD
          value: {{ .Values.global.redis.password | default "" | quote }}
        - name: DEVICEAUTH_REDIS_DB
          value: {{ .Values.useradm.env.DEVICEAUTH_REDIS_DB | default "1" | quote }}
        - name: DEVICEAUTH_REDIS_TIMEOUT_SEC
          value: {{ .Values.useradm.env.DEVICEAUTH_REDIS_TIMEOUT_SEC | default "1" | quote }}
        - name: DEVICEAUTH_REDIS_LIMITS_EXPIRE_SEC
          value: {{ .Values.useradm.env.DEVICEAUTH_REDIS_LIMITS_EXPIRE_SEC | default "3600" | quote }}
{{- end }}

        # Supported configuration settings: https://github.com/mendersoftware/deviceauth/blob/master/config.yaml
        # Set in order, last value for the key will be used in case duplications.
        envFrom:
        - prefix: DEVICEAUTH_
          secretRef:
            name: mongodb-common

{{- with .Values.device_auth.nodeSelector }}
      nodeSelector: {{ toYaml . | nindent 8 }}
{{- end }}

      volumes:
      - name: rsa
        secret:
          {{- with .Values.device_auth.certs }}
          {{- if .existingSecret }}
          secretName: {{ .existingSecret }}
          {{- else }}
          secretName: rsa-device-auth
          {{- end }}
          {{- end }}

{{- if .Values.global.image.username }}
      imagePullSecrets:
      - name: docker-registry
{{- end }}
{{- end }}
