stages:
  - build
  - test

include:
  - project: 'Northern.tech/Mender/mendertesting'
    file: '.gitlab-ci-check-commits-signoffs.yml'
  - local: '.gitlab-ci-template-k8s-test.yml'

build:
  stage: build
  image: debian:buster
  before_script:
    - apt-get update -y
    - apt-get install -y curl make
    - curl -L https://raw.githubusercontent.com/helm/helm/master/scripts/get-helm-3 | bash
  script:
    - make lint
    - make package
  artifacts:
    expire_in: 2w
    paths:
      - mender-*.tgz

test_helm_chart_install:
  extends: .test_on_k8s_cluster
  dependencies:
    - build
  script:
    - tests/ci-deps-k8s.sh
    - tests/ci-make-helm.sh
    - kubectl get deployments conductor -o yaml
    - make test
