{{- if .Values.inventory.enabled }}
{{- $context := dict "dot" . "component" "inventory" "override" .Values.inventory -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "mender.fullname" . }}-inventory
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "mender.labels" . | nindent 4 }}
    app.kubernetes.io/name: {{ include "mender.fullname" . }}-inventory
    app.kubernetes.io/component: inventory
spec:
  {{- if not (or .Values.inventory.hpa .Values.default.hpa) }}
  replicas: {{ .Values.inventory.replicas }}
  {{- end }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "mender.fullname" . }}-inventory

  # if deployment is not completed within 10 min, consider it failed,
  # as result deployment Reason=ProgressDeadlineExceeded
  # needs to be big enough to rollout to complete
  progressDeadlineSeconds: 600

  # Rollout upgrade
  {{- $updateStrategy := coalesce .Values.inventory.updateStrategy .Values.default.updateStrategy }}
  {{- if $updateStrategy }}
  strategy: {{- toYaml $updateStrategy | nindent 4 }}
  {{- end }}

  {{- $minReadySeconds := coalesce .Values.inventory.minReadySeconds .Values.default.minReadySeconds }}
  {{- if $minReadySeconds }}
  minReadySeconds: {{ $minReadySeconds }}
  {{- end }}

  template:
    {{- include "mender.inventoryPodTemplate" $context | nindent 4 }}

{{- end }}
