global:
  enterprise: true
  hosted: false
  multitenant: true
  auditlogs: true
  deviceconnect: true
  image:
    registry: registry.mender.io
    username: null
    password: null
  mongodb:
    URL: mongodb://mongodb
  s3:
    AWS_URI: http://minio:9000
    AWS_BUCKET: minio-hosted-mender-artifacts
    AWS_REGION: us-east-1
    AWS_ACCESS_KEY_ID: myaccesskey
    AWS_SECRET_ACCESS_KEY: mysecretkey
  smtp:
    EMAIL_SENDER: root@localhost
    SMTP_ADDRESS: smtp.mailtrap.io
    SMTP_LOGIN: "null"
    SMTP_PASSWORD: "null"
    SMTP_SSL: "false"

api_gateway:
  enabled: true
  image:
    registry: docker.io
    repository: mendersoftware/api-gateway
    tag: mender-2.6.3
    imagePullPolicy: IfNotPresent
  replicas: 1
  resources:
    limits:
      cpu: 500m
      memory: 128M
    requests:
      cpu: 100m
      memory: 50M
  affinity: {}
  service:
    name: mender-api-gateway
    annotations: {}
    type: ClusterIP
    httpPort: 80
    httpsPort: 443
  env:
    ALLOWED_HOSTS: "[a-zA-Z0-9:.]+"
    DNS_NAMES: "mender-tenantadm mender-useradm mender-inventory mender-deployments mender-device-auth mender-gui"
    IS_LOGS_FORMAT_JSON: false

deployments:
  enabled: true
  automigrate: true
  replicas: 1
  resources:
    limits:
      cpu: 500m
      memory: 128M
    requests:
      cpu: 200m
      memory: 50M
  affinity: {}
  image:
    registry: registry.mender.io
    repository: mendersoftware/deployments-enterprise
    tag: mender-2.6.3
    imagePullPolicy: IfNotPresent
  service:
    name: mender-deployments
    annotations: {}
    type: ClusterIP
    port: 8080
  env:
    DEPLOYMENTS_MIDDLEWARE: prod
    DEPLOYMENTS_AWS_TAG_ARTIFACT: true

device_auth:
  enabled: true
  automigrate: true
  replicas: 1
  resources:
    limits:
      cpu: 500m
      memory: 128M
    requests:
      cpu: 100m
      memory: 50M
  affinity: {}
  image:
    registry: docker.io
    repository: mendersoftware/deviceauth
    tag: mender-2.6.3
    imagePullPolicy: IfNotPresent
  service:
    name: mender-device-auth
    annotations: {}
    type: ClusterIP
    port: 8080
  env:
    DEVICEAUTH_INVENTORY_ADDR: http://mender-inventory:8080/
    DEVICEAUTH_ORCHESTRATOR_ADDR: http://mender-workflows-server:8080/
    DEVICEAUTH_JWT_ISSUER: Mender
    DEVICEAUTH_JWT_EXP_TIMEOUT: 604800
    DEVICEAUTH_MIDDLEWARE: prod
    DEVICEAUTH_TENANTADM_ADDR: http://mender-tenantadm:8080
    DEVICEAUTH_MAX_DEVICES_LIMIT_DEFAULT: 500

gui:
  enabled: true
  replicas: 1
  resources:
    limits:
      cpu: 20m
      memory: 64M
    requests:
      cpu: 5m
      memory: 16M
  affinity: {}
  image:
    registry: docker.io
    repository: mendersoftware/gui
    tag: mender-2.6.3
    imagePullPolicy: IfNotPresent
  service:
    name: mender-gui
    annotations: {}
    type: ClusterIP
    port: 80
  env:
    GATEWAY_IP: k8s.hosted.mender.io
    GATEWAY_PORT: "443"

inventory:
  enabled: true
  automigrate: true
  replicas: 1
  resources:
    limits:
      cpu: 500m
      memory: 128M
    requests:
      cpu: 100m
      memory: 50M
  affinity: {}
  image:
    registry: registry.mender.io
    repository: mendersoftware/inventory-enterprise
    tag: mender-2.6.3
    imagePullPolicy: IfNotPresent
  service:
    name: mender-inventory
    annotations: {}
    type: ClusterIP
    port: 8080
  env:
    INVENTORY_MIDDLEWARE: prod

tenantadm:
  enabled: true
  replicas: 1
  resources:
    limits:
      cpu: 500m
      memory: 128M
    requests:
      cpu: 100m
      memory: 50M
  affinity: {}
  image:
    registry: registry.mender.io
    repository: mendersoftware/tenantadm
    tag: mender-2.6.3
    imagePullPolicy: IfNotPresent
  service:
    name: mender-tenantadm
    annotations: {}
    type: ClusterIP
    port: 8080
  env:
    TENANTADM_MIDDLEWARE: prod
    TENANTADM_SERVER_PRIV_KEY_PATH: /etc/tenantadm/rsa/private.pem
    TENANTADM_ORCHESTRATOR_ADDR: http://mender-workflows-server:8080/
    TENANTADM_RECAPTCHA_URL_VERIFY: https://www.google.com/recaptcha/api/siteverify

useradm:
  enabled: true
  automigrate: true
  replicas: 1
  resources:
    limits:
      cpu: 500m
      memory: 128M
    requests:
      cpu: 100m
      memory: 50M
  affinity: {}
  image:
    registry: registry.mender.io
    repository: mendersoftware/useradm-enterprise
    tag: mender-2.6.3
    imagePullPolicy: IfNotPresent
  service:
    name: mender-useradm
    annotations: {}
    type: ClusterIP
    port: 8080
  env:
    USERADM_JWT_ISSUER: Mender Users
    USERADM_JWT_EXP_TIMEOUT: 604800
    USERADM_SERVER_PRIV_KEY_PATH: /etc/useradm/rsa/private.pem
    USERADM_MIDDLEWARE: prod
    USERADM_TENANTADM_ADDR: http://mender-tenantadm:8080
    USERADM_TOTP_ISSUER: Mender

workflows:
  enabled: true
  automigrate: true
  replicas: 1
  resources:
    limits:
      cpu: 500m
      memory: 128M
    requests:
      cpu: 100m
      memory: 50M
  affinity: {}
  image:
    registry: registry.mender.io
    repository: mendersoftware/workflows-enterprise
    tag: mender-2.6.3
    imagePullPolicy: IfNotPresent
  service:
    name: mender-workflows-server
    annotations: {}
    type: ClusterIP
    port: 8080

create_artifact_worker:
  enabled: true
  automigrate: true
  replicas: 1
  resources:
    limits:
      cpu: 500m
      memory: 128M
    requests:
      cpu: 100m
      memory: 50M
  affinity: {}
  image:
    registry: docker.io
    repository: mendersoftware/create-artifact-worker
    tag: mender-2.6.3
    imagePullPolicy: IfNotPresent

auditlogs:
  enabled: true
  automigrate: true
  replicas: 1
  resources:
    limits:
      cpu: 500m
      memory: 128M
    requests:
      cpu: 200m
      memory: 50M
  affinity: {}
  image:
    registry: registry.mender.io
    repository: mendersoftware/auditlogs
    tag: mender-2.6.3
    imagePullPolicy: IfNotPresent
  service:
    name: mender-auditlogs
    annotations: {}
    type: ClusterIP
    port: 8080

deviceconnect:
  enabled: true
  automigrate: true
  replicas: 1
  resources:
    limits:
      cpu: 500m
      memory: 128M
    requests:
      cpu: 200m
      memory: 50M
  affinity: {}
  image:
    registry: docker.io
    repository: mendersoftware/deviceconnect
    tag: mender-2.6.3
    imagePullPolicy: IfNotPresent
  service:
    name: mender-deviceconnect
    annotations: {}
    type: ClusterIP
    port: 8080
