***REMOVED***
  enterprise: true
  hosted: false
  auditlogs: true
***REMOVED***
    registry: registry.mender.io
    username: null
    password: null
  mongodb:
    URL: mongodb://mongodb
  nats:
    URL: nats://nats:4222
  s3:
    AWS_URI: ""
    AWS_BUCKET: mender-artifact-storage
    AWS_REGION: us-east-1
    AWS_ACCESS_KEY_ID: myaccesskey
    AWS_SECRET_ACCESS_KEY: mysecretkey
    AWS_FORCE_PATH_STYLE: "true"
    AWS_TAG_ARTIFACT: "true"
    AWS_SERVICE_ACCOUNT_NAME: ""
  smtp:
    EMAIL_SENDER: root@localhost
    SMTP_ADDRESS: smtp.mailtrap.io
    SMTP_LOGIN: "null"
    SMTP_PASSWORD: "null"
    SMTP_SSL: "false"
  url: "https://mender-api-gateway"

***REMOVED***
  enabled: true
  dashboard: false
***REMOVED***
    registry: docker.io
    repository: traefik
    tag: v2.4
    imagePullPolicy: IfNotPresent
  replicas: 1
  resources:
    limits:
      cpu: 600m
      memory: 1G
    requests:
      cpu: 600m
      memory: 512M
  affinity: {}
  service:
    name: mender-api-gateway
    annotations: {}
    type: ClusterIP
    httpPort: 80
    httpsPort: 443
  env:
    SSL: true
  minio:
    enabled: true
    url: "http://minio:9000"

deployments:
  enabled: true
  automigrate: true
  replicas: 1
  resources:
    limits:
      cpu: 300m
      memory: 128M
    requests:
      cpu: 300m
      memory: 64M
  affinity: {}
***REMOVED***
    registry: ""
    repository: ""
    tag: mender-3.0.0
    imagePullPolicy: IfNotPresent
  service:
    name: mender-deployments
    annotations: {}
    type: ClusterIP
    port: 8080
  env:
    DEPLOYMENTS_MIDDLEWARE: prod
    DEPLOYMENTS_PRESIGN_SECRET: ""

***REMOVED***
  enabled: true
  automigrate: true
  replicas: 1
  resources:
    limits:
      cpu: 350m
      memory: 128M
    requests:
      cpu: 350m
      memory: 128M
  affinity: {}
***REMOVED***
    registry: docker.io
    repository: mendersoftware/deviceauth
    tag: mender-3.0.0
    imagePullPolicy: IfNotPresent
  service:
    name: mender-device-auth
    annotations: {}
    type: ClusterIP
    port: 8080
  env:
    DEVICEAUTH_INVENTORY_ADDR: http://mender-inventory:8080/
    DEVICEAUTH_ORCHESTRATOR_ADDR: http://mender-workflows-server:8080/
    DEVICEAUTH_JWT_ISSUER: Mender
    DEVICEAUTH_JWT_EXP_TIMEOUT: 604800
    DEVICEAUTH_MIDDLEWARE: prod
    DEVICEAUTH_TENANTADM_ADDR: http://mender-***REMOVED***8080

gui:
  enabled: true
  replicas: 1
  resources:
    limits:
      cpu: 20m
      memory: 64M
    requests:
      cpu: 5m
      memory: 16M
  affinity: {}
***REMOVED***
    registry: docker.io
    repository: mendersoftware/gui
    tag: mender-3.0.0
    imagePullPolicy: IfNotPresent
  service:
    name: mender-gui
    annotations: {}
    type: ClusterIP
    port: 80

inventory:
  enabled: true
  automigrate: true
  replicas: 1
  resources:
    limits:
      cpu: 300m
      memory: 128M
    requests:
      cpu: 300m
      memory: 128M
  affinity: {}
***REMOVED***
    registry: ""
    repository: ""
    tag: mender-3.0.0
    imagePullPolicy: IfNotPresent
  service:
    name: mender-inventory
    annotations: {}
    type: ClusterIP
    port: 8080
  env:
    INVENTORY_MIDDLEWARE: prod

***REMOVED***
  enabled: true
  replicas: 1
  resources:
    limits:
      cpu: 150m
      memory: 128M
    requests:
      cpu: 150m
      memory: 64M
  affinity: {}
***REMOVED***
    registry: registry.mender.io
    repository: mendersoftware/tenantadm
    tag: mender-3.0.0
    imagePullPolicy: IfNotPresent
  service:
    name: mender-tenantadm
    annotations: {}
    type: ClusterIP
    port: 8080
  env:
    TENANTADM_MIDDLEWARE: prod
    TENANTADM_SERVER_PRIV_KEY_PATH: /etc/tenantadm/rsa/private.pem
    TENANTADM_ORCHESTRATOR_ADDR: http://mender-workflows-server:8080/
    TENANTADM_RECAPTCHA_URL_VERIFY: https://www.google.com/recaptcha/api/siteverify

***REMOVED***
  enabled: true
  automigrate: true
  replicas: 1
  resources:
    limits:
      cpu: 150m
      memory: 128M
    requests:
      cpu: 150m
      memory: 64M
  affinity: {}
***REMOVED***
    registry: ""
    repository: ""
    tag: mender-3.0.0
    imagePullPolicy: IfNotPresent
  service:
    name: mender-useradm
    annotations: {}
    type: ClusterIP
    port: 8080
  env:
    USERADM_JWT_ISSUER: Mender Users
    USERADM_JWT_EXP_TIMEOUT: 604800
    USERADM_SERVER_PRIV_KEY_PATH: /etc/useradm/rsa/private.pem
    USERADM_MIDDLEWARE: prod
    USERADM_TENANTADM_ADDR: http://mender-***REMOVED***8080
    USERADM_TOTP_ISSUER: Mender

workflows:
  enabled: true
  automigrate: true
  replicas: 1
  resources:
    limits:
      cpu: 100m
      memory: 128M
    requests:
      cpu: 10m
      memory: 64M
  affinity: {}
***REMOVED***
    registry: ""
    repository: ""
    tag: mender-3.0.0
    imagePullPolicy: IfNotPresent
  service:
    name: mender-workflows-server
    annotations: {}
    type: ClusterIP
    port: 8080

create_artifact_worker:
  enabled: true
  automigrate: true
  replicas: 1
  resources:
    limits:
      cpu: 100m
      memory: 1024M
    requests:
      cpu: 100m
      memory: 128M
  affinity: {}
***REMOVED***
    registry: docker.io
    repository: mendersoftware/create-artifact-worker
    tag: mender-3.0.0
    imagePullPolicy: IfNotPresent

auditlogs:
  enabled: true
  automigrate: true
  replicas: 1
  resources:
    limits:
      cpu: 50m
      memory: 128M
    requests:
      cpu: 50m
      memory: 128M
  affinity: {}
***REMOVED***
    registry: registry.mender.io
    repository: mendersoftware/auditlogs
    tag: mender-3.0.0
    imagePullPolicy: IfNotPresent
  service:
    name: mender-auditlogs
    annotations: {}
    type: ClusterIP
    port: 8080

deviceconnect:
  enabled: true
  automigrate: true
  replicas: 1
  resources:
    limits:
      cpu: 100m
      memory: 128M
    requests:
      cpu: 100m
      memory: 128M
  affinity: {}
***REMOVED***
    registry: docker.io
    repository: mendersoftware/deviceconnect
    tag: mender-3.0.0
    imagePullPolicy: IfNotPresent
  service:
    name: mender-deviceconnect
    annotations: {}
    type: ClusterIP
    port: 8080

deviceconfig:
  enabled: true
  automigrate: true
  replicas: 1
  resources:
    limits:
      cpu: 100m
      memory: 128M
    requests:
      cpu: 100m
      memory: 128M
  affinity: {}
***REMOVED***
    registry: docker.io
    repository: mendersoftware/deviceconfig
    tag: mender-3.0.0
    imagePullPolicy: IfNotPresent
  service:
    name: mender-deviceconfig
    annotations: {}
    type: ClusterIP
    port: 8080
