{{- if and .Values.devicemonitor.enabled .Values.global.enterprise }}
{{- $merged := merge (deepCopy .Values.devicemonitor) (deepCopy (default (dict) .Values.default)) -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "mender.fullname" . }}-devicemonitor
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "mender.labels" . | nindent 4 }}
    app.kubernetes.io/name: {{ include "mender.fullname" . }}-devicemonitor
    app.kubernetes.io/component: devicemonitor
spec:
  {{- if not (or .Values.devicemonitor.hpa .Values.default.hpa) }}
  replicas: {{ .Values.devicemonitor.replicas }}
  {{- end }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "mender.fullname" . }}-devicemonitor

  # if deployment is not completed within 10 min, consider it failed,
  # as result deployment Reason=ProgressDeadlineExceeded
  # needs to be big enough to rollout to complete
  progressDeadlineSeconds: 600

  # Rollout upgrade one by one
  # In this case we warranty there are always instances online.
  # In case any issues, they will be detected early and deployment be stopped.
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1

  template:
    metadata:
      {{- with .Values.devicemonitor.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        app.kubernetes.io/name: {{ include "mender.fullname" . }}-devicemonitor
        {{- include "mender.labels" . | nindent 8 }}
        app.kubernetes.io/component: devicemonitor
    spec:
      {{- with $merged.affinity }}
      affinity: {{ tpl (toYaml .) $ | nindent 8 }}
      {{- end }}
      {{- with $merged.tolerations }}
      tolerations: {{ tpl (toYaml .) $ | nindent 8 }}
      {{- end }}
{{- if .Values.devicemonitor.podSecurityContext.enabled }}
      securityContext: {{- omit .Values.devicemonitor.podSecurityContext "enabled" | toYaml | nindent 8 }}
{{- end }}

      containers:
      - name: devicemonitor
        image: {{ .Values.devicemonitor.image.registry }}/{{ .Values.devicemonitor.image.repository }}:{{ .Values.devicemonitor.image.tag | default .Values.global.image.tag }}
        imagePullPolicy: {{ .Values.devicemonitor.image.imagePullPolicy }}
{{- if .Values.devicemonitor.containerSecurityContext.enabled }}
        securityContext: {{- omit .Values.devicemonitor.containerSecurityContext "enabled" | toYaml | nindent 10 }}
{{- end }}
        resources:
{{ toYaml .Values.devicemonitor.resources | indent 10 }}

{{- if .Values.devicemonitor.automigrate }}
        args: ["server", "--automigrate"]
{{- else }}
        args: ["server"]
{{- end }}

        # Readiness/liveness probes
        readinessProbe:
           httpGet:
             path: /api/internal/v1/devicemonitor/health
             port: 8080
           periodSeconds: 15
        livenessProbe:
          httpGet:
            path: /api/internal/v1/devicemonitor/alive
            port: 8080
          periodSeconds: 5
        startupProbe:
          httpGet:
            path: /api/internal/v1/devicemonitor/alive
            port: 8080
          failureThreshold: 36
          periodSeconds: 5

        env:
        # Workflows orchestrator address
        - name: DEVICEMONITOR_USERADM_URL
          value: {{ .Values.device_auth.env.DEVICEMONITOR_USERADM_URL | quote }}

        # Workflows orchestrator address
        - name: DEVICEMONITOR_WORKFLOWS_URL
          value: {{ .Values.device_auth.env.DEVICEMONITOR_WORKFLOWS_URL | quote }}

        # Supported configuration settings: https://github.com/mendersoftware/devicemonitor/blob/master/config.yaml
        # Set in order, last value for the key will be used in case duplications.
        envFrom:
        - prefix: DEVICEMONITOR_
          secretRef:
            name: mongodb-common

{{- if .Values.global.image.username }}
      imagePullSecrets:
      - name: docker-registry
{{- else }}
{{- $ips := coalesce .Values.devicemonitor.imagePullSecrets .Values.default.imagePullSecrets  }}
{{- if $ips }}
      imagePullSecrets:
{{ toYaml $ips | indent 6 }}
{{- end }}
{{- end }}


{{- with .Values.devicemonitor.nodeSelector }}
      nodeSelector: {{ toYaml . | nindent 8 }}
{{- end }}
{{- end }}
